<h1>マイページ</h1><%= link_to 'ログアウト', destroy_user_session_path, method: :delete, class: "logout" %>
<%= link_to "ホーム", root_path %>

<h3>ユーザー名</h3>
<%= @user.name %>
<h3>メールアドレス</h3>
<%= @user.email %>
<h3>プロフィール</h3>
<%= @user.profile%>